<div id="container" class="container">
        <ul id="scene" class="scene">
                <h1>scroll down</h1>
                <li class="layer" data-depth="1.00"><img src="/assets/layer1.png"></li>
                <h1>keep scrolling</h1>
                <li class="layer" data-depth="0.80"><img src="/assets/layer2.png"></li>
                <h1>just a little more</h1>
                <li class="layer" data-depth="0.60"><img src="/assets/layer3.png"></li>
                <h1>yes almost done</h1>
                <li class="layer" data-depth="0.40"><img src="/assets/layer4.png"></li>
                <h1>Congrats</h1>
                <li class="layer" data-depth="0.20"><img src="/assets/layer5.png"></li>
                <h1>This is parallax</h1>
                <li class="layer" data-depth="0.00"><img src="/assets/layer6.png"></li>
        </ul>
</div>