.sign_in, .sign_up {
	text-align: center;
	height: 300px;
	width: 450px;
	margin: 0 auto;
	border: 1px solid white;
	border-radius:25px;
    color:#ffffff;
    background: transparent;
    overflow:hidden;
     -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
     -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
     box-shadow:0 10px 10px rgba(0,0,0,0.3), -10px 10px 10px rgba(0,0,0,0.2);
}

body {
	background-image:url('colorful-ubuntu-HD.jpg');
}
<<<<<<< HEAD

//http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=51.5303972%2C-0.1238579
=======
// 
>>>>>>> 602248376d5b38d474b6c987e532a66dc21f3d5e
