.sign_in, .sign_up {
	text-align: center;
	height: 300px;
	width: 350px;
	margin: 0 auto;
	border: 1px solid white;
    color:#ffffff;
    background: transparent;
    overflow:hidden;
     -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
     -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
     box-shadow:0 10px 10px rgba(0,0,0,0.3), -10px 10px 10px rgba(0,0,0,0.2);
}
  
.blue textarea:focus,
.blue input[type="email"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#sign_in_table {
  width: 100%;
}

.map_canvas {
  background-color: white;
  float: right;
  height: 200px;
  width: 500px;
}

#geo {
  float: right;
}